body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
  }

  .chess-board {
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
  }

  .chess-tile {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .white {
    background-color: #f0d9b5;
  }

  .black {
    background-color: #b58863;
  }


  .kingBlack {
    position: absolute;
  }

  .queenBlack {
    position: absolute;
    }

    .selected {
        box-shadow: 0 0 0 2px red inset; /* Change 'red' to your preferred border color */
    
}
  